body {
  font-size: 65%;
  line-height: 0.38;
}

.main {
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
  padding: 5px;
  margin-top: 10px;
  width: 80%;
  margin: 0 auto;
}

.spiral {
  margin: 5px;
  float: left;
}

.clearing {
  clear: both;
}

.point {
  height: 2px;
  width: 2px;
  float: left;
  padding: none;
  margin: 1px;
  text-align: center;
}

.highlight {

}